@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container-body {
  width: 1280px;
  margin-left: 100px;
  margin-right: 100px;
}
.page-header {
  margin-bottom: 48px;
  width: 100%;
}
.page-header .menu-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  border: 1px solid;
  list-style-type: none;
  padding: 26px 0px 20px;
  margin-top: 5px;
  background-color: #35444f;
}

.list-link {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  font-size: 24px;
  line-height: 28px;
}
.list-link-functional-programming {
  padding-left: 32px;
  padding-top: 26px;
  padding-bottom: 20px;
  margin-right: 33px;
}
.list-link-ramda {
  padding-left: 36px;
  padding-top: 26px;
  padding-bottom: 20px;
  margin-right: 37px;
}
.list-link-landspec {
  padding-left: 40px;
  padding-top: 26px;
  padding-bottom: 20px;
  margin-right: 40px;
}
.list-link-nodejs {
  padding-left: 40px;
  padding-top: 26px;
  padding-bottom: 20px;
  border-right: 1px solid #ffffff;
  padding-right: 18px;
}
.header-title {
  font-size: 80px;
  line-height: 93px;
  margin-bottom: 15px;
  width: 1280px;
}
.header-title .extra-color-header {
  color: #4bcaff;
}
.hover-header {
  padding-left: 543px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #f60d0d;
}
.container-aside-main {
  display: flex;
}
.page-aside {
  border: 1px solid;
  width: 330px;
  height: 400px;
}

.menu-list-aside {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 324px;
  height: 400px;
}
.link-aside {
  color: #485863;
  font-size: 27px;
  line-height: 27px;
}
.list-item-aside-ramda {
  padding: 26px 194px 25px 44px;
}
.list-item-aside-why-ramda {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-left: 72px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: #dbdbdb;
}

.list-item-aside-difference {
  padding-top: 25px;
  padding-left: 42px;
  margin-bottom: 52px;
}
.list-item-aside-introduction {
  padding-left: 44px;
  margin-bottom: 52px;
}
.list-item-aside-philosophy {
  padding-left: 44px;
  padding-bottom: 30px;
}
.hover-aside {
  padding: 24px 0px 22px 20px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #f60d0d;
}
.page-main .section-main {
  width: 885px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-left: 52px;
}
.paragraph-main-history,
.paragraph-main-lorem {
  width: 885px;
  margin-left: 52px;
  font-size: 19px;
  line-height: 24px;
  color: #2c2c2c;
  font-weight: 400;
}
.paragraph-main-history {
  margin-bottom: 34px;
}

.page-footer {
  display: flex;
  align-items: center;
  border: 1px solid #63696e7a;
  height: 70px;
  background-color: #63696e7a;
}
.menu-footer-list {
  padding-left: 40px;
  padding-right: 135px;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.bluecolor {
  color: #3181a6;
  border-bottom: 1px solid;
  padding-bottom: 13px;
}
.copyright {
  font-size: 24px;
  color: #010101;
}
.hover-footer {
  position: absolute;
  padding-left: 157px;
  padding-bottom: 42px;
  color: #f60d0d;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
}
.image-main {
  transition: transform 0.5s;
}
.image-main:hover {
  transform: scale(1.4);
}
